<footer id="footerFormat1" class="ffos bw2px bg-row fancyBdr">
  <div class="wrap">
    <div class="row1 dt">
      <div class="col-1 w25" style="vertical-align: top">
        <div class="column_Box mc">
          <div class="h h2">
            <b class="plusMinus"></b>
            <h3>General Links</h3>
          </div>
          <div class="ic showHide_rp bml">
            <div class="w">
              <p class="l">
                <b class="b"></b
                ><a href="http://www.cwtex.in/" title="Home">Home</a>
              </p>
            </div>
            <div class="w">
              <p class="l">
                <b class="b"></b
                ><a href="http://www.cwtex.in/about-us.htm" title="About Us"
                  >About Us</a
                >
              </p>
            </div>
            <div class="w">
              <p class="l">
                <b class="b"></b
                ><a href="http://www.cwtex.in/products.htm" title="Products"
                  >Products</a
                >
              </p>
            </div>
            <div class="w">
              <p class="l">
                <b class="b"></b
                ><a href="http://www.cwtex.in/contact-us.htm" title="Contact Us"
                  >Contact Us</a
                >
              </p>
            </div>
            <div class="w">
              <p class="l">
                <b class="b"></b
                ><a href="http://www.cwtex.in/sitemap.htm" title="Sitemap"
                  >Site Map</a
                >
              </p>
            </div>
            <!-- <div class="w">
              <p class="l">
                <b class="b"></b
                ><a
                  href="http://www.cwtex.in/products.rss"
                  target="_blank"
                  title="RSS"
                  ><img
                    src="./assets/v1/rss_icon.png"
                    alt="RSS"
                    class="vam"
                    width="36"
                    height="14"
                    loading="lazy"
                /></a>
              </p>
            </div> -->
            <p class="cb"></p>
          </div>
        </div>
      </div>
      <div class="col-2 w40" style="vertical-align: top">
        <div class="column_Box mc thinColumnLink">
          <div class="tcl two float">
            <div class="h h2">
              <b class="plusMinus"></b>
              <p class="b dif rHead">
                <a href="http://www.cwtex.in/products.htm" title="Products"
                  >Products</a
                >
              </p>
            </div>
            <div class="ic showHide_rp">
              <ul>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a href="http://www.cwtex.in/bathmats.htm" title="Bathmats"
                      >Bathmats</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/braided-rugs.htm"
                      title="Braided Rugs"
                      >Braided Rugs</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/stock-items.htm"
                      title="Stock Items"
                      >Stock Items</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/bed-throws.htm"
                      title="Bed Throws"
                      >Bed Throws</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/cushion-covers.htm"
                      title="Cushion Covers"
                      >Cushion Covers</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/stool-pouf.htm"
                      title="Stool Pouf"
                      >Stool Pouf</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh">
                    <a
                      href="http://www.cwtex.in/laundry-baskets.htm"
                      title="Laundry Baskets"
                      >Laundry Baskets</a
                    >
                  </p>
                </li>
              </ul>
              <p class="cb"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="foot-product p2px dib pr zi1 cp">
          <ul class="fo ac-fl">
            <li class="w50">
              <div class="p2px">
                <div class="imgFrame w175px h180px m0a">
                  <div class="imgFrame w175px h180px picBg df-dtc ac vam lh0">
                    <img
                      loading="lazy"
                      src="./assets/v1/solid-chenille-braided-mat-1542178189-4451585.jpeg"
                      width="300"
                      height="201"
                      class="m0a"
                      alt="Solid Chenille Braided Mat"
                      title="Solid Chenille Braided Mat"
                      style="max-width: 100%; max-height: 100%" />
                  </div>
                </div>
              </div>
            </li>
            <li class="w50">
              <div class="p2px">
                <div class="imgFrame w175px h180px m0a">
                  <div class="imgFrame w175px h180px picBg df-dtc ac vam lh0">
                    <img
                      loading="lazy"
                      src="./assets/v1/braided-rectangular-mat-1542177724-4451531.jpeg"
                      width="300"
                      height="198"
                      class="m0a"
                      alt="Braided Rectangular Mat"
                      title="Braided Rectangular Mat"
                      style="max-width: 100%; max-height: 100%" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="ftHeading xxxlarge"><h2>See All Products</h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt12px btmFoot-bg">
    <div class="wrap">
      <div class="row1 dt columns12">
        <div class="col-1 vam">
          <p class="copyright">
            All Rights Reserved.
            <a href="http://www.cwtex.in/"><b>Color World Textiles</b></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
