<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=2" />
<title>
  Color World Textiles Panipat - Two Pc Bath Mat Set Manufacturer and Supplier
</title>
<meta
  name="description"
  content="Two Pc Bath Mat Set Manufacturer exporter Supplier in Panipat - Color World Textiles is top Manufacturer exporter &amp; Supplier of Tonal Rectangular Braided Mat in Haryana ." />
<meta
  name="keywords"
  content="two pc bath mat set manufacturer in panipat, wholesale tonal rectangular braided mat supplier in haryana, bed throws export company in india" />
<meta
  property="og:title"
  content="Color World Textiles Panipat - Two Pc Bath Mat Set Manufacturer and Supplier" />
<meta property="og:site_name" content="Color World Textiles" />
<meta property="og:url" content="http://www.cwtex.in/" />
<meta
  property="og:description"
  content="Two Pc Bath Mat Set Manufacturer exporter Supplier in Panipat - Color World Textiles is top Manufacturer exporter &amp; Supplier of Tonal Rectangular Braided Mat in Haryana ." />
<meta property="og:type" content="website" />
<meta property="og:image" content="./assets/v1/870723.jpg" />
<!-- <link rel="canonical" href="http://www.cwtex.in/" /> -->
<link rel="stylesheet" href="./assets/v1/catalog_common.css" />
<link rel="stylesheet" href="./assets/v1/catalog.css" />
<link
  rel="stylesheet"
  href="./assets/v1/mobile.css"
  media="(max-width:640px)" />
<style>
  .container {
    min-height: 400px;
  }
  .bodycontent.ei {
    padding: 0px;
  }
</style>
