<header id="headerFormatNT">
  <div class="headRw_f3 theme1 pb5px smsEmailTop">
    <div class="wrap">
      <div class="right-head fo">
        <div class="icon"><span> </span></div>
        <ul class="dropdown smsEmail">
          <li class="dib xlarge">
            <table class="top-head mt3px tooltip callTip ttBtm">
              <tbody>
                <tr>
                  <td>
                    <i
                      style="line-height: 18px; font-size: 2em"
                      class="fa fa-mobile vam mr7px"></i>
                  </td>
                  <td>
                    <span class="di fw6">08048776006</span
                    ><span class="tooltipVt"> </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="dib xlarge">
            <table class="top-head">
              <tbody>
                <tr>
                  <td class="pt5px">
                    <i
                      style="font-size: 1.4em"
                      class="fa vam fa-map-marker mr10px"></i>
                  </td>
                  <td class="pt5px">
                    <span class="di">Panipat, Haryana</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixer bg_df">
    <div class="wrap fo">
      <div class="row1 col-12 dt">
        <div class="col-1 pl5px pr20px ofh">
          <div class="company_mH dt">
            <div class="dib dtc vam" id="company">
              <a
                class="dib"
                href="http://www.cwtex.in/"
                title="Color World Textiles"
                ><img
                  src="./assets/v1/12569-comp-image.png"
                  width="329"
                  height="61"
                  alt="Color World Textiles"
                  title="Color World Textiles"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-2 rightL-dropNav">
          <nav class="f3 fr">
            <a
              class="animateddrawer"
              id="ddsmoothmenu-mobiletoggle"
              href="http://www.cwtex.in/#"
              ><span></span
            ></a>
            <div
              id="smoothmenu1"
              class="al ddsmoothmenu"
              style="font-weight: normal; display: block">
              <ul>
                <li class="on">
                  <a href="http://www.cwtex.in/" title="Home">Home</a>
                </li>
                <li>
                  <a href="http://www.cwtex.in/about-us.htm" title="About Us"
                    >About Us</a
                  >
                </li>
                <li style="z-index: 1000">
                  <a
                    href="http://www.cwtex.in/products.htm"
                    title="Products"
                    style="padding-right: 23px"
                    >Products<span
                      style="display: block"
                      class="downarrowclass"></span
                  ></a>
                  <ul class="menu_style" style="display: block; top: 40px">
                    <li
                      class="menu-arrow menu-arrow-top ac cp bdr0"
                      style="display: none"></li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/bathmats.htm"
                        title="Bathmats"
                        >Bathmats</a
                      >
                      <ul>
                        <li>
                          <a
                            href="http://www.cwtex.in/diamond-bath-mat.htm"
                            title="Diamond Bath Mat"
                            >Diamond Bath Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/embossed-bath-mat.htm"
                            title="Embossed Bath Mat"
                            >Embossed Bath Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/loop-cut-bath-mat.htm"
                            title="Loop Cut Bath Mat"
                            >Loop Cut Bath Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/round-embossed-bath-mat.htm"
                            title="Round Embossed Bath Mat"
                            >Round Embossed Bath Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/shaped-bath-mat.htm"
                            title="Shaped Bath Mat"
                            >Shaped Bath Mat</a
                          >
                        </li>
                        <li style="text-align: center" class="on">
                          <a
                            href="http://www.cwtex.in/bathmats.htm"
                            title="Bathmats"
                            >View All</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/braided-rugs.htm"
                        title="Braided Rugs"
                        >Braided Rugs</a
                      >
                      <ul>
                        <li>
                          <a
                            href="http://www.cwtex.in/braided-mixture-rug.htm"
                            title="Braided Mixture Rug"
                            >Braided Mixture Rug</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/braided-rectangular-mat.htm"
                            title="Braided Rectangular Mat"
                            >Braided Rectangular Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/cotton-round-braided-mat.htm"
                            title="Cotton Round Braided Mat"
                            >Cotton Round Braided Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/cotton-tape-braided-mat.htm"
                            title="Cotton Tape Braided Mat"
                            >Cotton Tape Braided Mat</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/cotton-tonal-braided-round-mat.htm"
                            title="Cotton Tonal Braided Round Mat"
                            >Cotton Tonal Braided Round Mat</a
                          >
                        </li>
                        <li style="text-align: center" class="on">
                          <a
                            href="http://www.cwtex.in/braided-rugs.htm"
                            title="Braided Rugs"
                            >View All</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/stock-items.htm"
                        title="Stock Items"
                        >Stock Items</a
                      >
                      <ul>
                        <li>
                          <a
                            href="http://www.cwtex.in/maxican-rug-stock.htm"
                            title="Maxican Rug Stock"
                            >Mexican Rug Stock</a
                          >
                        </li>
                        <li>
                          <a
                            href="http://www.cwtex.in/promotional-chindi-rug.htm"
                            title="Promotional Chindi Rug"
                            >Promotional Chindi Rug</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/bed-throws.htm"
                        title="Bed Throws"
                        >Bed Throws</a
                      >
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/cushion-covers.htm"
                        title="Cushion Covers"
                        >Cushion Covers</a
                      >
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/stool-pouf.htm"
                        title="Stool Pouf"
                        >Stool Pouf</a
                      >
                    </li>
                    <li class="liH">
                      <a
                        href="http://www.cwtex.in/laundry-baskets.htm"
                        title="Laundry Baskets"
                        >Laundry Baskets</a
                      >
                    </li>
                    <li
                      class="menu-arrow menu-arrow-down ac cp bdr0"
                      style="display: none"></li>
                  </ul>
                </li>
                <li>
                  <a
                    href="http://www.cwtex.in/contact-us.htm"
                    title="Contact Us"
                    >Contact Us</a
                  >
                </li>
              </ul>
              <p class="cb"></p>
            </div>
            <script>
              ddsmoothmenu.arrowimages.down[1] =
                "https://catalog.wlimg.com/templates-images/12569/12573/spacer.png ";
              ddsmoothmenu.arrowimages.right[1] =
                "https://catalog.wlimg.com/templates-images/12569/12573/spacer.png ";
              ddsmoothmenu.arrowimages.left[1] =
                "https://catalog.wlimg.com/templates-images/12569/12573/spacer.png ";
              ddsmoothmenu.init({
                mainmenuid: "smoothmenu1",
                orientation: "h",
                classname: "ddsmoothmenu",
                contentsource: "markup",
              });
            </script>
          </nav>
          <script>
            (function ($) {
              jQuery.fn.menuStylePlugin = function () {
                var $ = jQuery;
                var $self = $(this);
                var scrollSpeed = 200;
                var setScroll;
                var scrollTop = $(window).scrollTop();
                var li_position = $(".ddsmoothmenu > ul > li").offset();
                var li_outher = $(".ddsmoothmenu > ul > li").outerHeight(true);
                var li_exact_postion_top =
                  parseInt(li_position.top - scrollTop) + parseInt(li_outher);
                var window_height = parseInt(
                  $(window).height() - li_exact_postion_top - 70
                );
                var li_height = $self.find("li.liH").height();
                li_height = li_height > 0 ? li_height : 42;
                var maxLength = parseInt(window_height / li_height + 3);
                var initPlugin = function () {
                  $self.find("li.liH").each(function (e) {
                    if (maxLength - 3 < e) {
                      $(this).hide();
                    }
                  });
                  $self
                    .find(".menu-arrow-top")
                    .mouseover(function (e) {
                      var $elmSelf = $(this);
                      setScroll = setInterval(function () {
                        var prev = "",
                          last = "";
                        $elmSelf
                          .closest("ul")
                          .children()
                          .each(function (e, elm) {
                            if (
                              !$(elm).hasClass("menu-arrow") &&
                              $(elm).css("display") == "none" &&
                              last == ""
                            ) {
                              prev = elm;
                            } else if (
                              !$(elm).hasClass("menu-arrow") &&
                              $(elm).css("display") != "none" &&
                              prev != ""
                            ) {
                              last = elm;
                            }
                          });
                        if (prev != "" && last != "") {
                          $(prev).show();
                          $(last).hide();
                        }
                      }, scrollSpeed);
                    })
                    .mouseleave(function () {
                      clearInterval(setScroll);
                    });
                  $self
                    .find(".menu-arrow-down")
                    .mouseover(function () {
                      var $elmSelf = $(this);
                      setScroll = setInterval(function () {
                        var prev = "",
                          last = "";
                        $elmSelf
                          .closest("ul")
                          .children()
                          .each(function (e, elm) {
                            if (
                              !$(elm).hasClass("menu-arrow") &&
                              $(elm).css("display") != "none" &&
                              prev == ""
                            ) {
                              prev = elm;
                            } else if (
                              !$(elm).hasClass("menu-arrow") &&
                              $(elm).css("display") == "none" &&
                              prev != "" &&
                              last == ""
                            ) {
                              last = elm;
                            }
                          });
                        if (prev != "" && last != "") {
                          $(prev).hide();
                          $(last).show();
                        }
                      }, scrollSpeed);
                    })
                    .mouseleave(function () {
                      clearInterval(setScroll);
                    });
                  var totali = $self.find("li.liH").length;
                  if (totali < maxLength) {
                    $self.find(".menu-arrow-top").hide();
                    $self.find(".menu-arrow-down").hide();
                  } else {
                    $self.find(".menu-arrow-top").show();
                    $self.find(".menu-arrow-down").show();
                  }
                  $self.on("hover", "li.liH", function () {
                    $self.find("li.liH").removeClass("on");
                    $self.addClass("on");
                  });
                };
                initPlugin();
              };
              jQuery.fn.menuStyle = function () {
                jQuery(this).each(function () {
                  jQuery(this).menuStylePlugin();
                });
              };
            })(jQuery);
            jQuery(function () {
              jQuery(".menu_style").menuStyle();
            });
            jQuery(document).on("hover", ".menu_style > li.liH", function () {
              jQuery(".menu_style > li.liH").removeClass("on");
              jQuery(this).addClass("on");
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</header>
