<%- contentFor('body') %>
<div id="middle">
  <div id="bodyFormatNT" class="wrap thinFormat">
    <div class="row1 dt columns23">
      <div class="col-2 wideColumn ip ls">
        <br
          style="
            content: '';
            display: inline-block;
            width: 100%;
            height: 15px;
          " />
        <!-- header ends -->

        <div class="aj">
          <p>
            Color world Textiles is one of the leading Manufacturer and Exporter
            of an extensive range of home Textiles items that are designed to
            spruce up your Dining, Kitchen, Bath &amp; Living rooms as well as
            offices. The best weavers who have been in the same business for
            generations, are weaving our products.
          </p>
          <p>&nbsp;</p>
          <p>
            We manufacture an exclusive range of Handloom Rugs, Cotton Bathmats,
            Chindi Rugs, Braided rugs, Throws, Bedcovers, Poufs, Cushion Covers
            &amp; others home furnishing items, which are doing extremely well
            all over the world.
          </p>
          <p>&nbsp;</p>
          <p>
            We always pay more attention in each step of production to ensure
            that our products would meet 100% customer's satisfaction &amp; we
            have a strong tendency to place our customers in the comfortable
            position to make the highest profit from us. We are driven by maxim
            of achieving the desired quality at most competitive prices.
          </p>
        </div>
        <p class="cb"></p>
        <br />
        <br />
        <table class="w100 formTable">
          <tbody>
            <tr>
              <td class="headVr w40 al b p5px">Nature of Business</td>
              <td class="data p5px">Manufacturers &amp; Exporters</td>
            </tr>
            <tr>
              <td class="headVr w40 al b p5px">Number of Employees</td>
              <td class="data p5px">Up to 10</td>
            </tr>
            <tr>
              <td class="headVr w40 al b p5px">Name of CEO</td>
              <td class="data p5px">Mr. Manoj Kumar</td>
            </tr>
            <tr>
              <td class="headVr w40 al b p5px">GST No</td>
              <td class="data p5px">06AMFPK4703M1Z0</td>
            </tr>
            <tr>
              <td class="headVr w40 al b p5px">Annual Turnover</td>
              <td class="data p5px">Below Rs. 5 Crore Approx.</td>
            </tr>
          </tbody>
        </table>
        <br />
        <!-- footer -->
      </div>
      <div class="col-3 thinColumn">
        <div class="column_Box mc thinColumnLink">
          <div class="tcl bullet divider">
            <div class="h h2">
              <b class="plusMinus"></b>
              <p class="b dif rHead">
                <a href="http://www.cwtex.in/products.htm" title="Products"
                  >Products</a
                >
              </p>
            </div>
            <div class="ic showHide_rp">
              <ul>
                <li>
                  <b class="b2 fl"></b><b class="plus"></b>
                  <p class="ofh b">
                    <a href="http://www.cwtex.in/bathmats.htm" title="Bathmats"
                      >Bathmats</a
                    >
                  </p>
                  <ul class="dn lsn pl10px">
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/diamond-bath-mat.htm"
                          title="Diamond Bath Mat"
                          >Diamond Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/embossed-bath-mat.htm"
                          title="Embossed Bath Mat"
                          >Embossed Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/loop-cut-bath-mat.htm"
                          title="Loop Cut Bath Mat"
                          >Loop Cut Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/round-embossed-bath-mat.htm"
                          title="Round Embossed Bath Mat"
                          >Round Embossed Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/shaped-bath-mat.htm"
                          title="Shaped Bath Mat"
                          >Shaped Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/solid-bath-mat.htm"
                          title="Solid Bath Mat"
                          >Solid Bath Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/two-pc-bath-mat-set.htm"
                          title="Two PC Bath Mat Set"
                          >Two PC Bath Mat Set</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/two-tone-bath-mat.htm"
                          title="Two Tone Bath Mat"
                          >Two Tone Bath Mat</a
                        >
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <b class="b2 fl"></b><b class="plus"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/braided-rugs.htm"
                      title="Braided Rugs"
                      >Braided Rugs</a
                    >
                  </p>
                  <ul class="dn lsn pl10px">
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/tonal-braided-mat.htm"
                          title="Tonal Braided Mat"
                          >Tonal Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/designer-hand-woven-rug.htm"
                          title="Designer Hand Woven Rug"
                          >Designer Hand Woven Rug</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/tonal-rectangular-braided-mat.htm"
                          title="Tonal Rectangular Braided Mat"
                          >Tonal Rectangular Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/tonal-braided-rug.htm"
                          title="Tonal Braided Rug"
                          >Tonal Braided Rug</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/solid-chenille-braided-mat.htm"
                          title="Solid Chenille Braided Mat"
                          >Solid Chenille Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/round-cotton-braided-chairpad.htm"
                          title="Round Cotton Braided Chairpad"
                          >Round Cotton Braided Chairpad</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/jute-tikki-round-braided-rug.htm"
                          title="Jute Tikki Round Braided Rug"
                          >Jute Tikki Round Braided Rug</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/jute-braided-rug.htm"
                          title="Jute Braided Rug"
                          >Jute Braided Rug</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/jute-braided-mat.htm"
                          title="Jute Braided Mat"
                          >Jute Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/cotton-tonal-braided-round-mat.htm"
                          title="Cotton Tonal Braided Round Mat"
                          >Cotton Tonal Braided Round Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/cotton-tape-braided-mat.htm"
                          title="Cotton Tape Braided Mat"
                          >Cotton Tape Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/cotton-round-braided-mat.htm"
                          title="Cotton Round Braided Mat"
                          >Cotton Round Braided Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/braided-rectangular-mat.htm"
                          title="Braided Rectangular Mat"
                          >Braided Rectangular Mat</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/braided-mixture-rug.htm"
                          title="Braided Mixture Rug"
                          >Braided Mixture Rug</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/jacquard-hand-woven-rugs.htm"
                          title="Jacquard Hand Woven Rugs"
                          >Jacquard Hand Woven Rugs</a
                        >
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <b class="b2 fl"></b><b class="plus"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/stock-items.htm"
                      title="Stock Items"
                      >Stock Items</a
                    >
                  </p>
                  <ul class="dn lsn pl10px">
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/maxican-rug-stock.htm"
                          title="Maxican Rug Stock"
                          >Mexican Rug Stock</a
                        >
                      </p>
                    </li>
                    <li>
                      <b class="b3 fl"></b>
                      <p class="ofh">
                        <a
                          href="http://www.cwtex.in/promotional-chindi-rug.htm"
                          title="Promotional Chindi Rug"
                          >Promotional Chindi Rug</a
                        >
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/bed-throws.htm"
                      title="Bed Throws"
                      >Bed Throws</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/cushion-covers.htm"
                      title="Cushion Covers"
                      >Cushion Covers</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/stool-pouf.htm"
                      title="Stool Pouf"
                      >Stool Pouf</a
                    >
                  </p>
                </li>
                <li>
                  <b class="b2 fl"></b>
                  <p class="ofh b">
                    <a
                      href="http://www.cwtex.in/laundry-baskets.htm"
                      title="Laundry Baskets"
                      >Laundry Baskets</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column_Box mc qc">
          <div class="h h2">
            <b class="plusMinus"></b>
            <p class="b dif rHead">Contact Us</p>
          </div>
          <div class="ic showHide_rp">
            <div class="uu lh13em">
              <p class="dif b">Color World Textiles</p>
              <p class="hr bdrB"></p>
              <p>
                Near Bharat Gas Godown, Binjhol Sondhapur Road, Village Binjhol,
                Panipat, Haryana - 132103, India
              </p>
              <p class="hr bdrB"></p>
              <p><b>Mobile :</b> +91-8684888488</p>
              <p class="hr bdrB"></p>
              <p>
                <b>Call Us : </b
                ><span class="b dif xlarge fw6"> 08048776006 </span>
              </p>
              <p class="hr bdrB"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br style="content: ''; display: inline-block; width: 100%; height: 15px" />
  </div>
</div>
