<%- contentFor('body') %>
<div id="middle">
  <section class="headBg theme2 bread-right">
    <div class="wrap">
      <div class="page-title-inner fo">
        <!-- header ends -->
        <p class="breadcrumb ar uu small">
          <a href="http://www.cwtex.in/" title="Home">Home</a>
          <b class="ffv p2px">›</b> Contact Us
        </p>
        <!-- footer -->
      </div>
    </div>
  </section>
  <div id="bodyFormatNT" class="wrap ip ls">
    <br style="display: inline-block; width: 100%; height: 15px" />
    <!-- header ends -->

    <div class="row1 bdr dt columns12 contFull">
      <div class="col-1 headVr width50 bdr0">
        <div class="p30px pr7px">
          <div style="margin-bottom: 0" class="h1">
            <h1>COLOR WORLD TEXTILES</h1>
            <p><span class="btmBdr theme2 dib w75px pt2px"></span></p>
          </div>
          <div class="contView">
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-user xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Contact Person</p>
                  <p class="alpha75">Mr. Manoj Kumar</p>
                </div>
              </div>
            </div>

            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-map-marker xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Address</p>
                  <p class="alpha75">
                    Near Bharat Gas Godown, Binjhol Sondhapur Road, Village
                    Binjhol, Panipat, Haryana, India - 132103
                  </p>
                </div>
              </div>
            </div>
            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-mobile xxxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Call Us</p>
                  <p class="alpha75">+91-8684888488</p>
                </div>
              </div>
            </div>
            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-vphone xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Call Us</p>
                  <p class="alpha75 lh12em">
                    <span class="xlarge dif fw6"> 08048776006</span>
                  </p>
                  <p class="alpha75 small"></p>
                </div>
              </div>
            </div>
            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-envelope xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Email</p>
                  <p class="alpha75">
                    <a href="mailto:cwtex.in@gmail.com">cwtex.in@gmail.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-desktop xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Web Address</p>
                  <p class="alpha75">
                    <a
                      href="http://www.cwtex.in/"
                      target="_blank"
                      title="http://www.cwtex.in"
                      >http://www.cwtex.in</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="bdrT dashed"></div>
            <div class="pt15px pb15px">
              <div class="df-dt">
                <div class="df-dtc w50px">
                  <div
                    class="theme2 dib contVicon w30px h35px pl7px pr7px p5px pr c30px">
                    <i class="fa fa-globe xxlarge"></i>
                  </div>
                </div>
                <div class="df-dtc vam pl10px">
                  <p class="xlarge fw6 mb7px ffpp contHd">Web Page</p>
                  <p class="alpha75">
                    <a
                      href="https://www.cwtex.in"
                      target="_blank"
                      title="https://www.cwtex.in"
                      >https://www.cwtex.in</a
                    ><a
                      class="db mt7px"
                      href="https://www.indianyellowpages.com/panipat/color-world-textiles-5967082/"
                      target="_blank"
                      title="https://www.indianyellowpages.com/panipat/color-world-textiles-5967082/"
                      >https://www.indianyellowpages.com/panipat/color-world-textiles-5967082/</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 data bdr0">
        <div class="fo p30px">
          <div
            class="large hp_full_inquiry"
            style="width: 100%; margin-top: 0px">
            <form
              name="static_form"
              method="post"
              action=""
              onsubmit="return static_inq_form_validate(10031);"
              enctype="multipart/form-data">
              <input
                type="hidden"
                name="enquiry_submission_section"
                value="contact" />
              <input type="hidden" name="subject" value="General Enquiry" />
              <div class="db mb5px">
                Product / Service Looking for
                <span class="star xsmall">*</span>
              </div>
              <div class="mb17px">
                <input
                  type="text"
                  name="dynFrm_subject"
                  id="dynFrm_subject_10031"
                  class="input w120px ui-autocomplete-input"
                  placeholder="Product / Service Looking for"
                  autocomplete="off"
                  role="textbox"
                  aria-autocomplete="list"
                  aria-haspopup="true" />
                <input type="hidden" name="dynFrm_product_slno" value="" />
                <span class="red xsmall"></span>
              </div>
              <div class="qunt-div" style="display: none">
                <div class="db mb5px">Quantity</div>
                <div class="mb17px">
                  <div class="inFlx">
                    <div class="mb10px">
                      <input
                        type="text"
                        name="estimate_quantity"
                        class="input p10px bdr bdrccc"
                        placeholder="Estimated Quantity" />
                    </div>
                    <div class="mb10px">
                      <input
                        name="quantity_unit"
                        id="quantity_unit"
                        type="text"
                        placeholder="Unit Type"
                        class="input p10px bdr bdrccc quantity_unit_class ui-autocomplete-input"
                        value=""
                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                        autocomplete="off"
                        role="textbox"
                        aria-autocomplete="list"
                        aria-haspopup="true" />
                      <span id="quantity_unit_pop"
                        ><ul
                          class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all"
                          role="listbox"
                          aria-activedescendant="ui-active-menuitem"
                          style="
                            z-index: 1;
                            top: 0px;
                            left: 0px;
                            display: none;
                          "></ul>
                        <ul
                          class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all"
                          role="listbox"
                          aria-activedescendant="ui-active-menuitem"
                          style="
                            z-index: 1;
                            top: 0px;
                            left: 0px;
                            display: none;
                          "></ul>
                        <ul
                          class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all"
                          role="listbox"
                          aria-activedescendant="ui-active-menuitem"
                          style="
                            z-index: 1000;
                            top: 0px;
                            left: 0px;
                            display: none;
                          "></ul
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="db mb5px">
                Your Name <span class="star xsmall">*</span>
              </div>
              <div class="mb17px">
                <input
                  type="text"
                  name="dynFrm_contact_person"
                  id="detail_contact_person"
                  class="input w120px"
                  placeholder="Your Name" />
                <span class="red xsmall"></span>
              </div>
              <div class="db mb5px">
                Email <span class="star xsmall">*</span>
              </div>
              <div class="mb17px">
                <input
                  type="text"
                  name="dynFrm_email_id"
                  id="detail_email_id"
                  value=""
                  class="input w120px"
                  placeholder="Email" />
                <span class="red xsmall"></span>
              </div>
              <div class="db mb5px">
                Select Country <span class="star xsmall">*</span>
              </div>

              <div id="indian_state">
                <div class="db mb5px">
                  Select State <span class="star xsmall">*</span>
                </div>
                <div class="mb17px">
                  <select name="dynFrm_state" id="dynFrm_state" class="w120px">
                    <option value="">Select State</option>
                    <option value="Andaman &amp; Nicobar Islands">
                      Andaman &amp; Nicobar Islands
                    </option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra &amp; Nagar Haveli">
                      Dadra &amp; Nagar Haveli
                    </option>
                    <option value="Delhi">Delhi</option>
                    <option value="Daman &amp; Diu">Daman &amp; Diu</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu &amp; Kashmir">
                      Jammu &amp; Kashmir
                    </option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Ladakh">Ladakh</option>
                    <option value="Lakshadweep Islands">
                      Lakshadweep Islands
                    </option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Pondicherry">Pondicherry</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                  </select>
                  <span class="red xsmall"></span>
                </div>
              </div>
              <div class="db mb5px">City</div>
              <div class="mb17px">
                <input
                  type="text"
                  name="dynFrm_city"
                  value=""
                  class="input w120px"
                  placeholder="City" />
              </div>
              <div class="db mb5px">
                Phone / Mobile <span class="star xsmall">*</span>
              </div>
              <div class="mb17px">
                <input
                  type="text"
                  name="phone_isd"
                  id="phone_isd"
                  value="91"
                  readonly="readonly"
                  class="input"
                  placeholder="ISD"
                  style="width: 60px !important" />
                <input
                  type="text"
                  name="dynFrm_phone"
                  id="detail_phone"
                  maxlength="35"
                  value=""
                  class="input"
                  placeholder="Phone / Mobile"
                  style="width: calc(100% - 75px) !important" />
                <span class="red xsmall"></span>
              </div>
              <div class="db mb5px">
                Enquiry Details <span class="star xsmall">*</span>
              </div>
              <div class="mb17px txt_ar pr">
                <textarea
                  name="dynFrm_details_2"
                  id="detail_details_2"
                  maxlength="1000"
                  cols="40"
                  rows="5"
                  class="w95"
                  placeholder="Your Requirement"></textarea>
                <span class="red xsmall"></span>
              </div>
              <span class="cb db"></span>
              <div class="mb10px sub_btn">
                <input
                  type="submit"
                  name="submit"
                  value="Submit"
                  class="button p10px pl15px pr15px b" />&nbsp;&nbsp;&nbsp;
                <input
                  type="reset"
                  name="cancel"
                  value="Cancel"
                  class="button p10px pl15px pr15px b" />
              </div>
              <script>
                var availableCityTags = [
                  "piece",
                  "pc",
                  "pieces",
                  "pcs",
                  "Kilogram",
                  "kg",
                  "Kilograms",
                  "kgs",
                  "Bag",
                  "Bags",
                  "Unit",
                  "Units",
                  "Pair",
                  "Pairs",
                  "Set",
                  "Sets",
                  "Meter",
                  "m",
                  "Ton",
                  "Tn",
                  "Tons",
                  "Metric Ton",
                  "MT",
                  "Metric Tons",
                  "Box",
                  "Boxes",
                  "Square Feet",
                  "Sq. Ft.",
                  "Roll",
                  "Rolls",
                  "Bottle",
                  "Bottles",
                  "Litre",
                  "Ltr",
                  "Litres",
                  "Ltrs",
                  "Packet",
                  "Pkt",
                  "Packets",
                  "Pkts",
                  "Sheet",
                  "Sheets",
                  "Dozen",
                  "Doz",
                  "Dozens",
                  "Carton",
                  "CTN",
                  "Cartons",
                  "Container",
                  "CNT",
                  "Containers",
                  "Pack",
                  "Packs",
                  "Ream",
                  "Reams",
                  "Gram",
                  "gm",
                  "Grams",
                  "gms",
                  "Ounce",
                  "oz",
                  "Pound",
                  "lb",
                  "Pounds",
                  "lbs",
                  "Gallon",
                  "gal",
                  "Gallons",
                  "Bushel",
                  "bsh",
                  "Kilometer",
                  "Km",
                  "Kilometers",
                  "Kms",
                  "Square Meter",
                  "Sq. Mtr.",
                  "Square Meters",
                  "Sq. Mtrs",
                  "Hectare",
                  "hect",
                  "Hectares",
                  "Short Ton",
                  "short tn",
                  "Short Tons",
                  "Long Ton",
                  "long tn",
                  "Long Tons",
                  "Foot",
                  "Ft.",
                  "Feet",
                  "Carat",
                  "ct",
                  "Milliliter",
                  "ml",
                  "Quintal",
                  "qq",
                  "Quintals",
                  "Strip",
                  "Strips",
                  "Square Inch",
                  "Sq. in.",
                  "Inch",
                  "in",
                  "Inches",
                  "Decimeter",
                  "dm",
                  "Decimeters",
                  "Cubic Feet",
                  "cu ft",
                  "Yard",
                  "yd",
                  "Yards",
                  "yds",
                  "Centimeter",
                  "cm",
                  "Centimeters",
                  "cms",
                  "Number",
                  "No",
                  "Numbers",
                  "Nos",
                  "Bale",
                  "Bales",
                  "Bundle",
                  "Bundles",
                  "Buckle",
                  "Buckles",
                  "Can",
                  "Cans",
                  "Cubic meter",
                  "cu. m.",
                  "Cubic Centimeter",
                  "ccm",
                  "cm3",
                  "Drum",
                  "Drums",
                  "Great Gross",
                  "gr gr",
                  "Gross",
                  "gr",
                  "Kilolitre",
                  "kl",
                  "Kilolitres",
                  "Square yard",
                  "Sq. Yd.",
                  "Square yards",
                  "Sq. Yds.",
                  "Barrel",
                  "Barrels",
                  "hour",
                  "hr",
                  "hours",
                  "hrs",
                  "Millimeter",
                  "mm",
                  "Square Centimeter",
                  "cm2",
                  "Mile",
                  "Cubic Inch",
                  "in3",
                  "Imperial Teaspoon",
                  "Imperial tsp",
                  "Imperial TableSpoon",
                  "Imperial Tbsp",
                  "Fluid Ounce",
                  "fl oz",
                  "Imperial Cup",
                  "Imperial Pint",
                  "Imperial Quart",
                  "Imperial Gallon",
                  "US teaspoon",
                  "US tsp",
                  "US Tablespoon",
                  "US tbsp",
                  "US Legal Cup",
                  "US Liquid Pint",
                  "US Liquid Quart",
                  "US Liquid Gallon",
                  "Minute",
                  "Day",
                  "Week",
                  "Month",
                  "Year",
                  "Decade",
                  "Century",
                  "Nautical Mile",
                  "nmi",
                  "Acre",
                  "milligram",
                  "mg",
                  "milligrams",
                ];

                jQuery(".quantity_unit_class").autocomplete({
                  minLength: 1,
                  appendTo: "#quantity_unit_pop",
                  source: availableCityTags,
                });
              </script>
              <input
                type="hidden"
                name="current_url"
                value="http://www.cwtex.in/contact-us.htm" />
              <input
                type="hidden"
                name="web_address"
                value="http://www.cwtex.in" />
              <input
                type="hidden"
                name="inq_thanks_msg"
                value="Thank you for inquiry.&lt;br /&gt;&lt;br /&gt;We have received your business request. Our Sales Team will soon get in touch with you.&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;" />
              <input type="hidden" name="inq_thanks_title" value="Enquiry" />
              <input
                type="hidden"
                name="redirected_url"
                value="http://www.cwtex.in/thanks.htm" />
              <input type="hidden" name="catalog_mi" value="5967082" />
              <input type="hidden" name="id" value="static_form" />
              <input type="hidden" name="form_id" value="10031" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <br style="content: ''; display: inline-block; width: 100%; height: 15px" />
  </div>
</div>
